/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #ccc;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 0;
}

/* Hero Section Styles */
.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.hero h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.hero p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
}

/* About Section Styles */
.about {
  padding: 40px;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-content img {
  width: 300px;
  margin-right: 40px;
}

.about-content p {
  flex: 1;
}

/* Services Section Styles */
.services {
    padding: 40px;
    background-color: #f4f4f4;
}

/* Card Container */
.service-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
}

/* Card Styles */
.service-card {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-card img {
    max-width: fit-content;
    margin-bottom: 20px;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #88a045;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}